[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "biovizBase"]
	path = biovizBase
	url = https://git.bioconductor.org/packages/biovizBase
	shallow = true
	registered = true
[submodule "ggbio"]
	path = ggbio
	url = https://github.com/lawremi/ggbio
	shallow = true
	registered = true
[submodule "gmapR"]
	path = gmapR
	url = https://github.com/lawremi/gmapr
	shallow = true
	registered = true
[submodule "HelloRanges"]
	path = HelloRanges
	url = https://git.bioconductor.org/packages/HelloRanges
	shallow = true
	registered = true
[submodule "objectProperties"]
	path = objectProperties
	url = https://github.com/cran/objectProperties
	shallow = true
	registered = true
[submodule "objectSignals"]
	path = objectSignals
	url = https://github.com/cran/objectSignals
	shallow = true
	registered = true
[submodule "restfulr"]
	path = restfulr
	url = https://github.com/lawremi/restfulr
	shallow = true
	registered = true
[submodule "rsbml"]
	path = rsbml
	url = https://git.bioconductor.org/packages/rsbml
	shallow = true
	registered = true
[submodule "rsolr"]
	path = rsolr
	url = https://github.com/lawremi/rsolr
	shallow = true
	registered = true
[submodule "rtracklayer"]
	path = rtracklayer
	url = https://github.com/lawremi/rtracklayer
	shallow = true
	registered = true
[submodule "VariantTools"]
	path = VariantTools
	url = https://git.bioconductor.org/packages/VariantTools
	shallow = true
	registered = true
