[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "objectProperties"]
	path = objectProperties
	url = https://github.com/cran/objectProperties
[submodule "objectSignals"]
	path = objectSignals
	url = https://github.com/cran/objectSignals
[submodule "restfulr"]
	path = restfulr
	url = https://github.com/lawremi/restfulr
[submodule "rsolr"]
	path = rsolr
	url = https://github.com/lawremi/rsolr
